body {
    background-color: #eee;
    font-family: "Roboto";

}

.uploader-menu{
    display: flex;
    padding-top: 60px;
    justify-content: space-evenly
}

.uploader-content{
    display: flex;
    padding-top: 10px;
    justify-content: center

}