<div class="container">
    <div class="uploader-menu">
        <button class="btn btn-success" id="add-files"><i class=" glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input type="file" id="myFileInput" style="display: none" multiple="multiple"/>
        </button>
        <button type="submit" class="btn btn-primary start" id="start-upload-multiple"><i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel" id="cancel-upload"><i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel all</span>
        </button>
    </div>
    <div class="uploader-content">
        <table class="table table-bordered table-hover" id="table-content">
            <thead>
            <th scope="col" style="width: 100px">Preview</th>
            <th scope="col" style="width: 350px">Name</th>
            <th scope="col" style="width: 75px">Type</th>
            <th scope="col" style="width: 75px">Size</th>
            <th scope="col" style="width: 350px">Actions</th>
            <th scope="col" style="width: 100px">Progress</th>
            <th scope="col" style="width: 100px">Download</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
